<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>08</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>08</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493481134.226744</real>
				<key>lastModification</key>
				<real>493481134.226744</real>
				<key>version</key>
				<dict>
					<key>fad5dc09f646a8da10ef7c9e66c730108a258bf5db650dc10000c5e41217ccf5</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>307保养记录.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493482761.88029897</real>
				<key>lastModification</key>
				<real>493482761.88029897</real>
				<key>version</key>
				<dict>
					<key>fad5dc09f646a8da10ef7c9e66c730108a258bf5db650dc10000c5e41217ccf5</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>@Inbox.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493480666.667656</real>
				<key>lastModification</key>
				<real>493480666.667656</real>
				<key>version</key>
				<dict>
					<key>fad5dc09f646a8da10ef7c9e66c730108a258bf5db650dc10000c5e41217ccf5</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Inbox.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493480695.06602299</real>
				<key>lastModification</key>
				<real>493480695.06602299</real>
				<key>version</key>
				<dict>
					<key>fad5dc09f646a8da10ef7c9e66c730108a258bf5db650dc10000c5e41217ccf5</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>493481730.672939</real>
				<key>lastModification</key>
				<real>493481730.672939</real>
				<key>version</key>
				<dict>
					<key>fad5dc09f646a8da10ef7c9e66c730108a258bf5db650dc10000c5e41217ccf5</key>
					<integer>36</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>@Inbox.md</string>
		</array>
		<array>
			<string>Inbox.md</string>
		</array>
		<array>
			<string>307保养记录.md</string>
			<string>无标题.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>fad5dc09f646a8da10ef7c9e66c730108a258bf5db650dc10000c5e41217ccf5</key>
			<integer>3</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>fad5dc09f646a8da10ef7c9e66c730108a258bf5db650dc10000c5e41217ccf5</key>
			<integer>43</integer>
		</dict>
	</dict>
</dict>
</plist>
